<div class="form-horizontal">
  <legend> <%= t '.title'%></legend>

  <div class="forms">
  <%= render 'form' %>
  </div>

</br></br></br>
  <div class="span6">
    <%= link_to t('links.back'), clients_path , class: "btn" %>
</div>

</div>

