<div class="login">
	<% if current_user %>
		Logged in as <%= current_user.email %>.
	    <%= link_to "Log out", logout_path %>
	<% else %>
		<%= link_to "Cadastro", signup_path %> or
	    <%= link_to "Login", login_path %>.
	<% end %>
</div>

