<tr>
  <td><%= product.code  %></td>
  <td><%= product.description  %></td>
  <td><%= product.price  %></td>

  <td><%= link_to t('links.edit'), edit_client_order_path(order, order.client), class: "btn btn-mini" %></td>


</tr>