<p>Parabéns!<p>

  <p>Você foi sorteado(a) no coquetel da BellaZita.</p>
  <p>Caso ainda não tenha recebido seu brinde, entre em contato conosco para recebê-lo.</p>

  <p> 
    <a href="http://instagram.com/bellazitabz"> 
      <img src="http://bellazita.herokuapp.com/images/instagram.png"/>
      @bellazitabz 
    </a>
  </p>

  <p> 
    <a href="http://facebook.com/bellazitabz"> 
      <img src="http://bellazita.herokuapp.com/images/facebook.png"/>
      BellaZita
    </a>
  </p>

  <p> 
    <img src="http://bellazita.herokuapp.com/images/email.png"/>
      contato@bellazita.com 
    </a>
  </p>

  <p> 
    <img src="http://bellazita.herokuapp.com/images/whatsapp.png"/>
    91 8843-6554 | 91 8177-9998
  </p>