<div style="margin-left:40px;">
  <p>Parabéns!<p>

  <p>Você foi sorteado(a) no coquetel da BellaZita.</p>
  <p>Caso ainda não tenha recebido seu brinde, entre em contato conosco para recebê-lo.</p>
</div>
<ul style="list-style:none;"> 
  <li>
  <img src="http://localhost:3000/instagram_24.png" style="vertical-align :bottom;"/> 

  <a href="http://instagram.com/bellazitabz"> 
    <!--img src="http://bellazita.herokuapp.com/instagram_32.png"/ -->

    @bellazitabz 
  </a>
</li>

<li> 
  <a href="http://facebook.com/bellazitabz"> 
  <img src="http://localhost:3000/facebook_24.png" style="vertical-align :bottom;"/> 
    BellaZita
  </a>
</li>

<li> 
  <img src="http://localhost:3000/email_24.png" style="vertical-align :bottom;"/> 
    contato@bellazita.com 
  </a>
</li>

<li> 
  <img src="http://localhost:3000/whatsapp_24.png" style="vertical-align :bottom;"/> 
  91 8843-6554 | 91 8177-9998
<li>
</ul>